body{
    background-color: black;
    color: black;
    font-family: Arial;
    padding: 5px;
  }

  a {
    color: #0000FF;
    text-decoration: none;
  }

  .corpo {
    background-color: #ffffff;
    max-width: 550px;
    padding: 5px;
    box-shadow: -10px 10px 0px #0000ff;
    display: flex;
    flex-flow: row wrap;
    min-width: 240px;
    margin: 20px auto 10px;
  }

  .titulo{
    background-color: #EEEEEE;
    padding: 20px;
    font-size: 14px;
    text-align: left;
    box-shadow: 10px 10px 0px #0000ff;
    min-width: 240px;
    margin: 0 auto;
    max-width: 600px;
    z-index: 9999;
  }
   
  h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: blue;
    line-height: 1.5em;
  }

  .conteudo{
    background-color: #ffffff;
    position: relative;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
  }

  .aula {
    width: 90%;
    padding: 5px;
    border: black solid;
    margin: 5px 0px;
    padding: 10px;
  }

  .descricao {
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0 20px;
  }

  .menu {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    padding: 10px;
  }

  .botao {
    padding: 10px;
    height: 20px;
    background-color: #EEEEEE;
    font-weight: bold;
    margin-bottom: 10px;
    box-shadow: 5px 5px 0px black;
  }

  .botao:hover {
    padding: 10px;
    height: 20px;
    background-color: #0000FF;
    color: #FFFFFF;
    font-weight: bold;
  }

  .inativo {
    color: #0000CC20;
  }

  .inativo:hover {
    background-color: #EEEEEE;
  }

  .animabg{animation: changeBg 45s infinite;}

  @keyframes changeBg{
     0%,100%  {background-position: 0% 0%;}
     30% {background-position: 0% 25%;}
     50% {background-position: 0% 50%;}
     75% {background-position: 0% 75%;}
     90% {background-position: 0% 100%;}
  }
  
  #pudding {
    font-size: 12px;
  }
