body{
  background-color: #EEEEEE;
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #999999;
  text-decoration: none;
}

a:hover{
  color: #0000FF;
  text-decoration: none;
}

.credito{
  font-size: 14px;
  writing-mode: vertical-rl;
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.conteudo{
  background-color: #ffffff;
  width: 75%;
  padding: 1.5vh;
  position: relative;
  box-shadow: 5px 5px 10px #cccccc;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.menu {
  text-align: right;
}

.botao {
  padding: 10px;
  font-size: 3VW;
}

.inativo {
  color: #0000CC20;
}

.inativo:hover {
  background-color: #EEEEEE;
}

.titulo{
  font-size: 2VW;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px;
  letter-spacing: -1.5px;
}

.grafico {
  color: #ffffff;
  width: 80%;
  display: flex;
  flex-flow: column;
}

.barra {
  margin: 10px;
  height: 6VH;
  border: solid 1px black;
  background-size: cover;
}

.pais {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.texto {
  color: black;
  width: 3vw;
  font-size: 1.5vw;
}

.eua {max-width: 100%;background-position-y: 30%;animation: changeBg 45s infinite;width: 100%;}

.china {width: calc(100% * (1686/2294));background-position-y: 35%;animation: changeBg 45s infinite;}

.japao {width: calc(100% * (510/2294));background-position-y: 0%;animation: changeBg 45s infinite;}

.alemanha {width: calc(100% * (423/2294));background-position-y: 50%;animation: changeBg 45s infinite;}

.reinounido {width: calc(100% * (311/2294));background-position-y: 75%;animation: changeBg 45s infinite;}

.fonte {
  text-align: right;
  font-size: 1vw;
  text-transform: uppercase;
  width: 90%;
}

#tode {font-size: 10px;writing-mode: vertical-rl;position: absolute;left: 5px;bottom: 5px;}
  
.animabg{animation: changeBg 45s infinite;}

@keyframes changeBg{
  0%,100%  {background-position: 50% 0%;}
  30% {background-position: 50% 25%;}
  50% {background-position: 50% 45%;}
  75% {background-position: 50% 70%;}
  90% {background-position: 50% 85%;}
}