@media only screen and (max-width: 540px) {
  body{
    background-color: #ffffff;
    font-family: Arial;
    display: flex;
    flex-flow: wrap-reverse;
    height: 100%;
    margin: auto;
    justify-content: center;
    min-width: 280px;
    max-width: 540px;
    font-size: 12px;
  }

  a {
    color: #999999;
    text-decoration: none;
  }

  a:hover{
    color: #0000FF;
    text-decoration: none;
  }

  .credito{
    writing-mode: vertical-rl;
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 12px;
  }
  
  .conteudo{
    display: flex;
    vertical-align: middle;
    justify-content: space-around;
    flex-flow: wrap;
    max-height: 90%;
    width: 90%;
    align-content: stretch;
  }

  .menu {
  width: 90%;
  text-align: right;
  height: 50px;
  }

  .botao {
    padding: 10px;
    font-size: 30px;
  }

  .inativo {
    color: #0000CC20;
  }

  .inativo:hover {
    background-color: #EEEEEE;
  }
  
  .titulo{
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: -1.5px;
    transform: rotate(-90deg);
    left: -30%;
    top: 6%;
    position: relative;
    line-height: 0.85em;
  }
  
  .grafico {
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-end;
    width: 100%;
    min-height: 60%;
    max-width: 90%;
    min-width: 250px;
}
  
  .barra {
    margin: auto;
    padding: 10px;
    width: 35%;
    border: solid 1px black;
    background-size: cover;
  }

  .pais {
    width: 20%;
    display: block;
  }
  
  .texto {
    font-size: 12px;
    text-align: center;
  }
  
  .eua {
    height: 100%;
  }
  
  .china {
    height: calc(100% * (1686/2294));
  }
  
  .japao {
    height: calc(100% * (510/2294));
  }
  
  .alemanha {
    height: calc(100% * (423/2294));
  }
  
  .reinounido {
    height: calc(100% * (311/2294));
  }

  .animabg{ animation: changeBg 45s infinite;}
@keyframes changeBg{
  0%,100%  {background-position: 0% 50%;}
  20% {background-position: 40% 50%;}
  50% {background-position: 50% 50%;}
  75% {background-position: 60% 50%;}
  80% {background-position: 70% 50%;}
}
  
  .fonte {
    text-transform: uppercase;
    text-align: center;
    width: 280px;
    height: 60px;
    font-size: 13px;
    line-height: 1.2em;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 540px) {
  body{
    background-color: #ffffff;
    font-family: Arial;
    display: flex;
    flex-flow: column-reverse;
    height: 100%;
    width: 320px;
    margin: auto;
    justify-content: center;
  }

  a {
    color: #999999;
    text-decoration: none;
  }

  a:hover{
    color: #0000FF;
    text-decoration: none;
  }

  .credito{
    font-size: 12px;
    writing-mode: vertical-rl;
    position: fixed;
    left: 0;
    bottom: 10px;
  }
  
  .conteudo{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    flex-flow: row wrap;
    max-height: 100%;
    width: 320px;
    min-height: 600px;
    max-width: 320px;
    height: 640px;
  }

  .botao {
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
  }

  .inativo {
    color: #0000CC20;
  }

  .inativo:hover {
    background-color: #EEEEEE;
  }
  
  .titulo{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    letter-spacing: -1.5px;
    height: 25%;
  }
  
  .grafico {
    font-size: 14px;
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-end;
    width: 100%;
    max-height: 60%;
    min-height: 55%;
}
  
  .barra {
    padding: 10px;
    width: 30%;
    border: solid 1px black;
    background-size: cover;
    margin: auto;
  }

  .pais {
    width: 19%;
    display: block;
  }
  
  .texto {
  font-size: 14px;
  text-align: center;
  }
  
  .eua {
    height: 100%;
  }
  
  .china {
    height: calc(100% * (1686/2294));
  }
  
  .japao {
    height: calc(100% * (510/2294));
  }
  
  .alemanha {
    height: calc(100% * (423/2294));
  }
  
  .reinounido {
    height: calc(100% * (311/2294));
  }

  .animabg{ animation: changeBg 45s infinite;}
@keyframes changeBg{
  0%,100%  {background-position: 0% 50%;}
  20% {background-position: 40% 50%;}
  50% {background-position: 50% 50%;}
  75% {background-position: 60% 50%;}
  80% {background-position: 70% 50%;}
}
  
  .fonte {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 15px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  body{
    background-color: #ffffff;
    font-family: Arial;
    display: flex;
    flex-flow: column-reverse;
    height: 100%;
    width: 320px;
    margin: auto;
    justify-content: center;
  }

  a {
    color: #999999;
    text-decoration: none;
  }

  a:hover{
    color: #0000FF;
    text-decoration: none;
  }

  .credito{
    font-size: 12px;
    writing-mode: vertical-rl;
    position: absolute;
    left: 0;
    bottom: 10px;
  }
  
  .conteudo{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    flex-flow: row wrap;
    max-height: 100%;
    width: 320px;
    min-height: 600px;
    max-width: 320px;
    height: 640px;
  }

  .botao {
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
  }

  .inativo {
    color: #0000CC20;
  }

  .inativo:hover {
    background-color: #EEEEEE;
  }
  
  .titulo{
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: -3.5px;
  left: -75px;
  top: 20px;
  position: relative;
  line-height: 0.75em;
  }
  
  .grafico {
    font-size: 14px;
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-end;
    width: 100%;
    max-height: 60%;
    min-height: 50%;
}
  
  .barra {
    padding: 10px;
    width: 25%;
    border: solid 1px black;
    background-size: cover;
  }

  .pais {
    width: 20%;
    display: block;
  }
  
  .texto {
    color: black;
  }
  
  .eua {
    height: 100%;
  }
  
  .china {
    height: calc(100% * (1686/2294));
  }
  
  .japao {
    height: calc(100% * (510/2294));
  }
  
  .alemanha {
    height: calc(100% * (423/2294));
  }
  
  .reinounido {
    height: calc(100% * (311/2294));
  }

  .animabg{ animation: changeBg 45s infinite;}
@keyframes changeBg{
  0%,100%  {background-position: 0% 50%;}
  20% {background-position: 40% 50%;}
  50% {background-position: 50% 50%;}
  75% {background-position: 60% 50%;}
  80% {background-position: 70% 50%;}
}
  
  .fonte {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 15px;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  body{
    background-color: #eeeeee;
  }

  a {
    color: #999999;
    text-decoration: none;
  }

  a:hover{
    color: #0000FF;
    text-decoration: none;
  }

  .credito{
    writing-mode: vertical-rl;
    font-size: 12px;
    left: -5px;
    bottom: 10px;
    position: absolute;
  }
  
  .conteudo{
    display: flex;
    flex-flow: wrap;
    align-content: stretch;
    vertical-align: middle;
    justify-content: center;
    max-height: 100%;
    width: 350px;
    min-height: 520px;
    max-width: 400px;
    height: 520px;
    position: relative;
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 5px 5px 10px #cccccc;
  }

  .menu {
    width: 100%;
    text-align: right;
  }

  .botao {
    padding: 0px;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
  }

  .inativo {
    color: #0000CC20;
  }

  .inativo:hover {
    background-color: #EEEEEE;
  }
  
  .titulo{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: -3.5px;
    top: -35px;
    position: relative;
    line-height: 0.75em;
    width: 70%;
  }
  
  .grafico {
    font-size: 14px;
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-end;
    width: 100%;
    min-height: 65%;
    flex-basis: fit-content;
}
  
  .barra {
    padding: 10px;
    width: 19%;
    border: solid 1px black;
    background-size: cover;
  }

  .pais {
    width: 20%;
    display: block;
  }
  
  .texto {
    font-size: 15px;
    text-align: center;
    margin: 10px;
  }
  
  .eua {
    height: 100%;
  }
  
  .china {
    height: calc(100% * (1686/2294));
  }
  
  .japao {
    height: calc(100% * (510/2294));
  }
  
  .alemanha {
    height: calc(100% * (423/2294));
  }
  
  .reinounido {
    height: calc(100% * (311/2294));
  }

  .animabg{ animation: changeBg 45s infinite;}
@keyframes changeBg{
  0%,100%  {background-position: 0% 50%;}
  20% {background-position: 40% 50%;}
  50% {background-position: 50% 50%;}
  75% {background-position: 55% 50%;}
  80% {background-position: 60% 50%;}
}
  
  .fonte {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    width: 100%;
    margin: auto;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  body{
    background-color: #eeeeee;
    font-family: Arial;
    display: flex;
    flex-flow: column-reverse;
    height: 100%;
    width: 600px;
    margin: auto;
    justify-content: center;
    position: relative;
  }

  a {
    color: #999999;
    text-decoration: none;
  }

  a:hover{
    color: #0000FF;
    text-decoration: none;
  }

  .credito{
    writing-mode: vertical-rl;
    font-size: 12px;
    left: 0;
    bottom: 10px;
    position: absolute;
  }
  
  .conteudo{
    display: flex;
    flex-flow: wrap;
    align-content: stretch;
    vertical-align: middle;
    justify-content: center;
    max-height: 100%;
    width: 640px;
    min-height: 600px;
    max-width: 640px;
    height: 90%;
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 5px 5px 10px #cccccc;
  }

  .menu {
    width: 100%;
    text-align: right;
  }

  .botao {
    padding: 0px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
  }

  .inativo {
    color: #0000CC20;
  }

  .inativo:hover {
    background-color: #EEEEEE;
  }
  
  .titulo{
    font-size: 75px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: -1.5px;
    transform: rotate(-90deg);
    position: relative;
    line-height: 0.78em;
    top: 75px;
    left: -235px;
  }
  
  .grafico {
    font-size: 14px;
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-end;
    width: 100%;
    max-height: 75%;
    min-height: 60%;
}
  
  .barra {
    padding: 10px;
    width: 20%;
    border: solid 1px black;
    background-size: cover;
  }

  .pais {
    width: 20%;
    display: block;
  }
  
  .texto {
    font-size: 16px;
    text-align: center;
  }
  
  .eua {
    height: 100%;
  }
  
  .china {
    height: calc(100% * (1686/2294));
  }
  
  .japao {
    height: calc(100% * (510/2294));
  }
  
  .alemanha {
    height: calc(100% * (423/2294));
  }
  
  .reinounido {
    height: calc(100% * (311/2294));
  }

  .animabg{ animation: changeBg 45s infinite;}
@keyframes changeBg{
  0%,100%  {background-position: 0% 50%;}
  20% {background-position: 40% 50%;}
  50% {background-position: 50% 50%;}
  75% {background-position: 60% 50%;}
  80% {background-position: 70% 50%;}
}
  
  .fonte {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 15px;
    width: 100%;
  }
}
