body{
    background-color: #EEEEEE;
    font-family: Arial;
  }

  a {
    color: #999999;
    text-decoration: none;
  }

  a:hover{
    color: #0000FF;
    text-decoration: none;
  }

  .credito{
    font-size: 10px;
    writing-mode: vertical-rl;
    position: absolute;
    left: -5px;
    bottom: 5px;
  }
  
  .conteudo{
    background-color: #ffffff;
    max-width: 600px;
    margin: 5px auto;
    padding: 20px;
    position: relative;
    box-shadow: 10px 10px 20px #cccccc;
  }

  .menu {
    display: flex;
    flex-flow: row-reverse;
    margin-top: 25px;
  }

  .botao {
    padding: 10px;
    margin-left: 10px;
    height: 12px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }

  .inativo {
    color: #0000CC20;
  }

  .inativo:hover {
    background-color: #EEEEEE;
  }
  
  .titulo{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    letter-spacing: -1.5px;
  }
  
  .grafico {
    color: #ffffff;
    font-size: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    width: 75%;
    margin: auto;
    max-height: 550px;
}
  
  .barra {
    margin: 5px 0;
    padding: 10px;
    width: 16%;
    border: solid 1px black;
    background-size: cover;
  }

  .pais {
    width: 19%;
    display: block;
  }
  
  .texto {
    color: black;
  }
  
  .eua {
    height: 458px;
  }
  
  .china {
    height: 336px;
  }
  
  .japao {
    height: 102px;
  }
  
  .alemanha {
    height: 84px;
  }
  
  .reinounido {
    height: 62px;
  }

  .animabg{ animation: changeBg 45s infinite;}
@keyframes changeBg{
   0%,100%  {background-position: 10% 50%;}
   20% {background-position: 30% 50%;}
   40% {background-position: 60% 50%;}
   60% {background-position: 70% 50%;}
   80% {background-position: 80% 50%;}
}
  
  .fonte {
    text-align: right;
    font-size: 8px;
    text-transform: uppercase;
    margin-top: 15px;
  }