  body{
    background-color: #ffffff;
    font-family: Arial;
    display: flex;
  }

  a {
    color: #999999;
    text-decoration: none;
  }

  a:hover{
    color: #0000FF;
    text-decoration: none;
  }

  .credito{
    font-size: 12px;
    writing-mode: vertical-rl;
    position: absolute;
    left: -3px;
    bottom: 10px;
  }
  
  .conteudo{
    max-width: 95%;
    margin: 11px auto;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    flex-flow: row wrap;
    max-height: 100%;
  }

  .botao {
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
  }

  .inativo {
    color: #0000CC20;
  }

  .inativo:hover {
    background-color: #EEEEEE;
  }
  
  .titulo{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    letter-spacing: -1.5px;
    height: 15%;
  }
  
  .grafico {
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    width: 90%;
    max-height: 70%;
    min-height: 50%;
}
  
  .barra {
    margin: 5px 0;
    padding: 10px;
    width: 45%;
    border: solid 1px black;
    background-size: cover;
  }

  .pais {
    width: 20%;
    display: block;
  }
  
  .texto {
    color: black;
  }
  
  .eua {
    height: 100%;
  }
  
  .china {
    height: calc(100% * (1686/2294));
  }
  
  .japao {
    height: calc(100% * (510/2294));
  }
  
  .alemanha {
    height: calc(100% * (423/2294));
  }
  
  .reinounido {
    height: calc(100% * (311/2294));
  }

  .animabg{ animation: changeBg 45s infinite;}
@keyframes changeBg{
   0%,100%  {background-position: 0% 50%;}
   20% {background-position: 30% 50%;}
   40% {background-position: 40% 50%;}
   60% {background-position: 50% 50%;}
   80% {background-position: 75% 50%;}
}
  
  .fonte {
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 15px;
    width: 100%;
  }

  @media (min-width: 768px) {

    body{
      background-color: #EEEEEE;
      font-family: Arial;
      margin: 20px;
      display: flex;
    }
    
    .credito{
      font-size: 16px;
      writing-mode: vertical-rl;
      left: -5px;
    }
    
    .conteudo{
      background-color: #ffffff;
      margin: 10px auto;
      padding: 25px;
      position: relative;
      box-shadow: 5px 5px 10px #cccccc;
      display: flex;
      width: 70%;
    }
 
    .botao {
      padding: 10px;
      margin-left: 10px;
      height: 12px;
      font-weight: bold;
      font-size: 35px;
      text-transform: uppercase;
    }
  
    .inativo {
      color: #0000CC20;
    }
  
    .inativo:hover {
      background-color: #EEEEEE;
    }
    
    .titulo{
      font-size: 35px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: right;
      letter-spacing: -1.5px;
      width: 95%;
    }
    
    .grafico {
      font-size: 15px;
      width: 80%;
  }
    
    .barra {
      padding: 10px;
      width: 50%;
      border: solid 1px black;
      background-size: cover;
    }
  
    .pais {
      width: 15%;
      display: block;
    }
    
    .texto {
      color: black;
    }
    
    .eua {
      height: 100%;
    }
    
    .china {
      height: calc(100% * (1686/2294));
    }
    
    .japao {
      height: calc(100% * (510/2294));
    }
    
    .alemanha {
      height: calc(100% * (423/2294));
    }
    
    .reinounido {
      height: calc(100% * (311/2294));
    }
  
    .animabg{ animation: changeBg 45s infinite;}
  @keyframes changeBg{
     0%,100%  {background-position: -1% 50%;}
     30% {background-position: 35% 50%;}
     50% {background-position: 50% 50%;}
     75% {background-position: 75% 50%;}
     90% {background-position: 100% 50%;}
  }
    
    .fonte {
      text-align: right;
      font-size: 14px;
      text-transform: uppercase;
      width: 95%;
    }
    
  }